body {
   /* display : flex;
    background-image : url("Fond.jpg");
    background-size : cover;
    background-repeat: no-repeat;*/
    color :white;
    background-color:black;
}
    
blocJeu {
    display : flex;
    justify-content : space-around;
    flex-direction : column;
}

blocPerso {
    display:flex;
    flex-direction : row;
    justify-content : space-around;
}

blocMonstres {
    display: flex;
    flex-direction : column;
    /*justify-content : space-between;*/
}

#spritePacman{
    width : 128px;
    height: 128;
}

#spriteMissPacman{
    width : 128px;
    height: 128;
}

#spritePacmanJR{
    width : 128px;
    height: 128;
}

blocHeros {
    display: flex;
    flex-direction : column;
    justify-content : space-around;
    
}

#spriteBlinky{
    width : 64px;
    height: 64;
}

#spritePinky{
    width : 64px;
    height: 64;
}

#spriteInky{
    width : 64px;
    height: 64;
}

#spriteClyde{
    width : 64px;
    height: 64;
}


.cliquable:hover {
    outline: white solid 1px;
}

blocMenu {
    display : flex;
    flex-direction : row;
    justify-content : space-evenly;
    border : 4px solid rgb(0,0,256)
}
blocAction {
    display : flex;
    flex-direction : column;
    justify-content : space-around;
}

#nomHeros1{
    color:red;
}
#nomHeros2{
    color:rgb(241, 100, 199);
}
#nomHeros3{
    color:rgb(0, 217, 255);
}
#nomHeros4{
    color:rgb(255, 102, 0);
}

